.logo {
    font-family: Futura, Arial, Helvetica, sans-serif;
    letter-spacing: -7px;
    font-size: 60px;
    margin: 200px auto 0px auto;
    border: 1px solid black;
    text-align: center;
}

.color-blue {
    color: #4885ed;
}

.color-red {
    color: #db3236;
}

.color-yellow {
    color: #f4c20d;
}

.color-green {
    color: #3cba54;
}

.search-area {
    border: 1px solid black;
    text-align: center;
    margin: 30px auto 0px auto;
}

.search-field {
    box-shadow: 0px 1px 1px slategrey
}

