.logo {
    font-family: Futura, Arial, Helvetica, sans-serif;
    letter-spacing: -7px;
    font-size: 60px;
    margin: 100px auto;
    text-align: center;
}

.color-blue {
    color: #4885ed;
}

.color-red {
    color: #db3236;
}

.color-yellow {
    color: #f4c20d;
}

.color-green {
    color: #3cba54;
}

